* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
input[type='radio'] {
  position: absolute;
  left: 0;
}
button {
  cursor: pointer;
  border: none;
  width: 100px;
  padding: 5px;
  border-radius: 15px;
}

body {
  background: #ffa5009e;
}
.container {
  position: relative;
  margin: 0 auto;
  max-width: 1140px;
}
.main-app {
  background-color: white;
  margin: 50px 50px;
  border-radius: 20px;
  padding-bottom: 50px;
}
/*header*/
.header {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}
.header::after {
  content: '';
  display: block;
  position: absolute;
  border-bottom: 1px solid #b8b8b859;
  width: 100%;
  bottom: 0;
}
.section-header_top {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, auto);
}
.description {
  color: #b8b8b8;
}
.logo_section {
  display: flex;
}
.logo {
  width: 50px;
  margin-right: 5px;
}

/*navigation*/
.navigation {
  position: sticky;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 40px;
  top: 0px;
  z-index: 1;
}
.nav_top_menu {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(2, auto);
}
.nav_menu {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(10, auto);
  gap: 15px;
}
.nav_menu_item {
  padding: 10px 25px;
  border-radius: 18px;
  align-self: center;
}
.nav_menu_item:hover {
  background-color: #b8b8b862;
}
.nav_menu_item--active {
  align-self: center;
  color: white;
  background-color: black;
  padding: 10px 25px;
  border-radius: 18px;
}
.menu_item_text {
  font-weight: bold;
  font-size: 20px;
}
.nav_sort {
  font-weight: bold;
  font-size: 15px;
}
/*shop*/
.shop_section {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(4, auto);
  margin: 50px 0px 100px;
  gap: 30px;
}
.title_shop {
  font-weight: bold;
  font-size: 28px;
  color: black;
}

/*card*/
.shop_card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 10px;
}

.title_card {
  position: relative;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 700;
}

.image {
  position: relative;
  height: auto;
  max-width: 100%;
  left: 3px;
}
.setting_card {
  position: relative;
  background-color: #f3f3f3;
  border-radius: 10px;
  margin-bottom: 30px;
}
.block_settings {
  position: relative;
}
.group_settting {
  position: relative;
  display: flex;
  justify-content: start;
}
.item_settings {
  position: relative;
  text-align: center;
  flex: 1;
  padding: 5px;
  margin: 5px;
}

.text_settings {
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: #00000086;
}
.text_settings:focus {
  position: relative;
  color: black;
  font-size: 12px;
  font-weight: 700;
}
.buy_card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.pay_ruble {
  align-self: center;
  font-weight: 600;
  font-size: 24px;
}
.add_cart {
  height: 40px;
  background-color: #f86300;
  border-radius: 15px;
}
.add_cart:hover {
  background-color: #f86300c2;
}
.add_cart:active {
  background-color: #f86300de;
}
.text_addcart {
  color: white;
  font-size: 14px;
  font-weight: 600;
}

/*cart.html*/

/*cart button*/
.cart {
  cursor: pointer;
  display: flex;
  font-weight: bold;
  justify-content: center;
  text-decoration: none;
  font-size: 18px;
  width: 100px;
  height: 100%;
  color: white;
  background-color: #ff7300;
  padding: 5px;
  border-radius: 15px;
}
.summary {
  align-self: center;
}

/*media*/

@media (min-width: 768px) {
  /* Стили для устройств с маленьким экраном, размерами 768px - 991px (планшеты и подобные) */
}
@media (min-width: 1024px) and (max-width: 1279px) {
  /* Стили для ноутбуков и компьютеров с экранами в диапазоне 1300px */
  .container {
    width: 80%;
  }
  .shop_section {
    grid-template-columns: repeat(3, auto);
  }
}
@media (min-width: 1280px) and (max-width: 1365px) {
  /* Стили для ноутбуков и компьютеров с экранами в диапазоне 1300px */
  .container {
    width: 90%;
  }
}
@media (min-width: 1366px) and (max-width: 1439px) {
  /* Стили для ноутбуков и компьютеров с экранами в диапазоне 1300px */
  .container {
    width: 90%;
  }
}
@media (min-width: 1440px) and (max-width: 1680px) {
  /* Стили для ноутбуков и компьютеров с экранами в диапазоне 1300px */
  .container {
    width: 100%;
  }
}

@media (min-width: 1681px) and (max-width: 1920px) {
  /* Стили для ноутбуков и компьютеров с экранами в диапазоне 1300px */
  .main-app {
    margin: 50px 80px;
  }
  .container {
    width: 100%;
    max-width: 1140px;
  }
  .main-app {
    margin: 50px 200px;
  }
}
